.color {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  display: inline-block;
  margin: 10px;
}

body {
  text-align: center;
}

.pixel {
  height: 41px;
  width: 41px;
  background-color: white;
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  margin: auto;
}

#clear-board {
  padding: 10px;
  margin: 10px;
}
